.App {
  text-align: center;
}

.Graph-Wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px;
  padding: 20px;
}
.button-bar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
